<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-warning"
  role="status"
>
  <span class="visually-hidden">Yükleniyor...</span>
</div>

<div>
  <label for="filterText" class="form-label">Arama Alanı</label>
  <input
    [(ngModel)]="filterText"
    type="text"
    class="form-control"
    id="filterText"
    placeholder="Ne aramıştınız?"
  />
</div>
<br />
<div *ngIf="filterText.length" class="alert alert-warning">
  {{ filterText }} aradınız
</div>

<table *ngIf="dataLoaded == true" class="table">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stokta var mı?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos | filterPipe: filterText">
        <td>{{ todo.id }}</td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.userId }}</td>
        <td>{{ todo.id | vatAdded: 18 | currency }}</td>
        <td>{{ todo.completed }}</td>
        <td>
          <button (click)="addToCart(todo)" type="button" class="btn btn-success">Add to Cart</button>
        </td>
      </tr>
    </tbody>
  </table>
</table>
